// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

.wapes{
  background: #EEEEEE;
}
.wap {
  background: url(#{image_path(LogoFA)}.png);
  background-attachment: fixed;
  background-position: center;
  padding-top: 170px;
}
 // -------------------- flats.banner------------//
.banner {
  color: #FF5555;
  text-align: center;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: black  1px 1px, black  -1px 1px, black  -1px -1px, black  1px -1px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  font: white;
}
// --------------------carousel index----------------//

// html,body{
//   height:100%;
// }
// .carousel,.item,.active{
//   height:100%;
// }
// .carousel-inner{
//   height:100%;
// }

// .full-screen {
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// html,body{height:100%;}
// .carousel,.item,.active{height:100%;}
// .carousel-inner{height:100%;}
// .fill{width:100%;height:100%;background-position:center;background-size:cover;}



// /* keep full widget on smaller screens */
// @media (max-width: 767px) {
//   body {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }
.wrapper{
    background-color: #F5F5F5;
    padding: 42px;
}

.card-description {
  padding-bottom: 40px;

}
.img-circle{
  margin-left: 0px;
  margin-top: -71px;
  background-position: left top;
  border-radius: 100px;
  border: 6px solid white;
  box-shadow: 0px 0px 8px black;
  position: relative;
}


// -------------------------------------------------------//
// carousel event
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// ----------------------------------------------------------//
// flats
.btn-danger {
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #EEEEEE;
  transition: background 0.3s ease;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: red;
}
.pad{
  letter-spacing: 3px;
  color:#44619D;
}
.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-bottom: -65px;
}
.nav-color{
  color: #E62117;
  text-shadow: black  0.5px 0.5px, black  -0.5px 0.5px, black  -0.5px -0.5px, black  0.5px -0.5px;
}
// --------------------------------------------------//
// events

.envent-fb{
 border-radius: 10px;
}


// ----------------------------------------------------//
// partenaire
.partenaire-particulier{
  margin-top: 5px;
}

// -------------------------------------------------------//
// home section
.lim-home{
  background-color:black;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
}
.tittle-color{
  color: white;
}
// ---------------------------------------------------------------//
// evenement facebook
.banner-event{
  background-color:black;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
}
.event-letter{
  color: white;
}
// -----------------------------------------------------------------//
// padding background fix event

.featurette-divider{
margin-top: 1px;
}
// -----------------------------------------------------------------//
// padding event facebook
.pad-face{
  padding-bottom: 100px;
  padding: 42px;
}
// -----------------------------------------------------------------//
// pit banner sur page flats
.flat-banner{
 background-color:black;
 background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
 margin: -1px;
 padding: 45px;
}
.white-color{
 color: white;
}


// ------------------------------------------------------------------//
// flats show icon camera
.rouge{
 color:#E62117;
}

// -----------------------------------------------------------------//
// bacground-flats-show
// .background-flats-show{
//   background: url('../images/background-flats.png') center;
// }
// ----------------------------------------------------------------//
// banner avant les tarif
.air-banner{
 background-color:black;
 background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  margin-left: -90px;
  margin-right: -90px;
  height: 25vh;
}



// -------------------------------------------------------------------//
// padding sur le wapes des tarifs
.pad-jumbo{
  margin-top: -110px;
}
// -------------------------------------------------------------------//
// weight of jumbo and family font pull of course google

.jumbo-tittle{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #E62117;
  text-shadow: 4px 4px 4px #aaa;
}



// --------------------------------------------------------//
// footer
.footer-color{
  background-color:black;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  padding: 65px;
  p{
    color: white;
  }
}
// ------------------------------------------------------------------//
// title home carousel logo
.title-fun{
 position: absolute;
  top: 5%;
  left: 1%;
  z-index: 20;
  // color: #CC2936;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  // border-color: white;
  // font-family: 'Raleway', sans-serif;
  // font-weight: 900;
  color: #E62117;
  // font-weight: 900;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 65px;
}
.logo-padd{
  margin-left: 0px;
  margin-top: 0px;
  background-position: left top;
  border-radius: 100px;
  border: 2px solid black;
  box-shadow: 7px 5px 19px #E02121;
  position: relative;
}
// -----------------------------------------------------------------//
// du padding dans le formulaire des flats
.form-padding{
  padding-bottom: 50px;
}

//   background: url(image/bg.jpg)
//   -webkit-background-size: cover; /* pour anciens Chrome et Safari */
//   background-size: cover; /* version standardisée */
// }
// -----------------------------------------------------------------//
// tipo partenaire au dessus des logo
.tipo{
  color: #C72626;
  text-align: center;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: black  1px 1px, black  -1px 1px, black  -1px -1px, black  1px -1px;
  padding-top: 100px;
}





