<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "archers.jpg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Text link -->
    <a href="https://www.facebook.com/bubblebump64/" class="navbar-wagon-item navbar-wagon-link">Nos activiter</a>

    <!-- Text link -->
    <a href="https://www.facebook.com/photo.php?fbid=10207565001956870&set=a.10200693479093093.1073741825.1644695159&type=3&theater" class="navbar-wagon-item navbar-wagon-link">Team</a>



    <!-- Profile picture and dropdown -->


    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>
  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
