
<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
  <div class="container">
    <div class="row">

      <div class="col-xs-6">
      </div>

      <div class="col-xs-6">
      </div>

    </div>
  </div>

</div>
