
<div class="welcome text-center padded">
  <h1>Welcome on Fun Area</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
  <div class="container">
    <div class="row">

      <div class="col-xs-offset-1 col-xs-3">
       <i class="fa fa-futbol-o fa-5x"></i>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id natus voluptatum sapiente corporis, magni alias eum, temporibus, deleniti atque dolore suscipit veniam ipsam adipisci consequatur. Delectus ipsum cupiditate neque voluptas!
         </p>
      </div>

      <div class="col-xs-3">
        <i class="fa fa-camera-retro fa-5x"></i>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id natus voluptatum sapiente corporis, magni alias eum, temporibus, deleniti atque dolore suscipit veniam ipsam adipisci consequatur. Delectus ipsum cupiditate neque voluptas!
         </p>
      </div>

      <div class="col-xs-3">
        <i class="fa fa-heart fa-5x"></i>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id natus voluptatum sapiente corporis, magni alias eum, temporibus, deleniti atque dolore suscipit veniam ipsam adipisci consequatur. Delectus ipsum cupiditate neque voluptas!
         </p>
      </div>

    </div>
  </div>
</div>
